.list {
  width: 70%;
  margin: 20px auto;
  text-align: center;
}
.car-list {
  list-style-type: none;
  padding: 0;
}

.car-list li {
  margin: 10px 0;
}

.car-name {
  font-weight: bold;
}

.car-sales {
  color: #555;
}
